
* {
   
    padding: 0px;
    margin: 0px;
}


body {
    background: gainsboro;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}


.conteiner {

    background: rgb(238, 245, 245);
    display: block;
    align-items: center;
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgba(90,  90, 90, .7);   
    width: 300px;
    height: 350px;
    text-align: center;
    font-family: Arial, sans-serif;
    color: black;
    padding-top: 40px;

}

img {
    width: 260px;
   
}

input {
    width: 40vh;
    height: 5vh;
    margin-top: 10px;
    
}

p {
    font-size: 10px;
    margin: 5px;
    color: blue;

}

.letra {
    font-size: 10px;
    margin: 5px;
    color: rgb(13, 13, 14);
}

button {
    background: rgb(4, 27, 228);
    width: 260px;
    height: 30px;
    border: none;
}

.botao {
    background: rgb(11, 245, 3);
    width: 260px;
    height: 30px;
    border: none;
}

h5 {
    font-size: small;
    margin-top: 10px;
    margin-bottom: 15px;
}

